@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url("https://wallpaperaccess.com/full/1689021.jpg") 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}







.qw{
  text-align: center;
}




















.center-split {
    --center-split-max-width: 30vw;
  }
  
  /* So that content vertically aligns, we set it as a flex item */
  .center-split > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
  }
  
  /* Reset flex and padding rules for media elements because
     we want them to bleed out */
  .center-split > img,
  .center-split > picture,
  .center-split > video {
    display: block;
    padding: 0;
    
    /* Stuff is gonna get stretchy, so maintain 
       some order and crop media */
    object-fit: cover;
  }
  
  @media (min-width: 720px) {
    .center-split {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      align-items: stretch;
    }
    
    /* Apply our max width to the 
       direct child of the .center-split child */
    .center-split > * > * {
      max-width: var(--center-split-max-width);
    }
    
    /* Set auto margins to push the content into the center */
    .center-split > *:nth-child(odd) > * {
      margin: 0 0 0 auto;
    }
    
    .center-split > *:nth-child(even) > * {
      margin: 0 auto 0 0;
    }
    
    /* Reset max width and margin rules for media elements because
       we want them to bleed out */
    .center-split > img,
    .center-split > picture,
    .center-split > video {
      max-width: 100%;
      margin: 0;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  /* Presentational styles for this demo */
  .center-split {
    color: #141414;
    font-size: 1.35rem;
  }
  
  .center-split {
    background: #dddddd;
  }
  
  
  .center-split img {
    filter: saturate(75%);
  }
  
  
  
  /* Global presentational styles */
  
  body {
    background: #efefef;
    color: #262322;
    line-height: 1.6;
    font-family: Georgia, serif;
  }
  
  h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.1;
    width: 100%;
  }
  
  h1 {
    color: #254e70;
    font-size: 2.5rem;
    max-width: 30ch;
    padding-bottom: 1.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  article > p {
    font-size: 1.2rem;
    max-width: 60ch;
    margin: 1rem 0 2rem 0;
  }
  
  @media (min-width: 720px) {
    article > h1,
    article > p {
      margin-left: 3rem;
    }
  }
  
  code {
    font-size: 1.2em;
    border: 1px solid #c1c1c1;
    white-space: pre;
    padding: 2px;
    font-weight: 700;
  }
  